[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "MVDTool"]
	path = MVDTool
	url = https://github.com/BlueBrain/MVDTool
[submodule "HighFive"]
	path = HighFive
	url = https://github.com/BlueBrain/HighFive
